<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StoreiPadApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>093384F21D6AE8C400DE965E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0933850B1D6AE8C400DE965E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>093385161D6AE8C400DE965E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
